.header {
	height: 100px;
	padding: 10px;
	padding-top: 20px;
}

.logo {
	/* height: 100px; */
	/* width: 500px; */
	background: linear-gradient(89deg, #ff5edf 0%, #04c8de 100%);
	box-shadow: 0.2px 0.2px 5px 1px grey;
	border-radius: 5px;
	cursor: pointer;
	/* margin-right: 20px; */
}

.nav_btn_container {
	/* position: absolute; */
	bottom: 0;
	/* right: 300; */
}

.nav_btn {
	/* text-decoration: underline; */
	font-size: large;
	width: 100px;
	white-space: nowrap;
	color: white;
	font-family: "Times New Roman", Times, serif;
}

@media only screen and (max-width: 500px) {
	.header {
		padding-top: 10px;
	}

	.nav_btn_container {
		position: absolute;
		bottom: 0;
		right: 0;
	}

	.nav_btn {
		font-size: 15px;
	}
}
