.admin {
	/* height: 520px; */
	overflow-y: scroll;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 30px;
	padding: 10px;
	padding-top: 20px;
}

.admin::-webkit-scrollbar {
	display: none;
}

@media only screen and (max-width: 600px) {
	.admin {
		grid-template-columns: 1fr;
	}
}
