.popup {
	min-height: 300px;
	width: 500px;
}

.close {
	cursor: pointer;
}

.popup_msg {
	font-size: 20px;
	text-align: left;
	padding: 20px;
}

@media only screen and (max-width: 500px) {
	.popup {
		width: 400px;
	}

	.popup_msg {
		font-size: 15px;
	}
}
