.register {
	height: 450px;
	display: grid;
	place-items: center;
	padding-left: 40px;
	padding-right: 40px;
	position: relative;
	margin-top: 50px;
}

.form_field {
	border-radius: 10px;
	margin-right: 50px;
	margin-left: 50px;
}

.left_field {
	padding: 30px;
	display: grid;
	grid-gap: 40px;
	justify-content: space-between;
}

.input_box {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.form_input_descriptor {
	color: rgb(51, 65, 65);
	text-align: end;
	font-weight: bold;
}

.form_input {
	height: 40px;
	width: 230px;
	background: none;
	border: rgb(51, 65, 65);
	box-shadow: 0.2px 0.2px 5px 1px grey;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 5px;
	color: white;
	font-size: 12px;
	text-align: center;
	margin-left: 50px;
}

.form_input:focus {
	background: none;
}

.left_field > div:nth-of-type(3) > input {
	margin-left: 43px;
}

.right_field {
	display: flex;
	justify-content: space-between;
	padding: 30px;
}

.checkbox {
	height: 40px;
	width: 40px;
}

@media only screen and (max-width: 500px) {
	.form_field {
		margin-right: 0px;
		margin-left: 0px;
	}

	.form_input_descriptor {
		font-size: 13px;
	}

	.form_input {
		height: 40px;
		width: 150px;
		margin-left: 30px;
	}
}
